html{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
body
{
    background-image: url(backgroundimage.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-color: blue;
}
.container
{
    margin: auto;
    width: 80%;
    background-color: #eeeeee;
    padding: 25px;
    border-radius: 5px;
}
h2
{
    text-align: center;
    font-size: 45px
}
label
{
    display: inline-block;
    padding-bottom: 5px;
}

.submit
{
    width:initial; position: initial;
}
@media(max-width: 700px)
{
    label
{
    display: block;
    padding-bottom: 5px;
    position: relative;
    
}

input
{
    position: absolute;
    left: 15%;
    width: 75%;
}
}
